/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************/
/** section nosotros**/
/*********************/
.section-about{
display: block;
padding: 50px 0;
text-align: center;
width: 100%;
margin: auto;
background-color: #EDEDED;
}

.title_primary{
    margin: 10px 0;
}
.title_primary h3{
    padding: 10px 0;
}
.title_primary_black {
    color: white;
    background-color: black;
    padding: 10px 0;
    margin: 0 200px ;
}

.descrip-about{
    margin: 50px 200px;
    padding: 10px 0;
}

.container-social-icons{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 0;

}


.container-social-icons a{
  margin: 0;
}

.icon{
    width: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.icon:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    cursor: pointer;
}

/*********************/
/*** section courses**/
/*********************/
.section-courses{
    display: block;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: black;
color: white;

    }

.title_primary_white{
    color:black;
    background-color: white;
    padding: 10px 0;
    margin: 0 200px ;
}


/*** botons**/

.btn_outline_sky{
    border-width: 3px !important;
    padding: 10px 40px;
    background-color: none;
    border-color: #08FFDE;
    color: #08FFDE;
}


/**** cursos slider *******/
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }


.carousel-inner{
    padding: 1em;
}
.card{
    margin: 1em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    
}


.carousel-control-prev, .carousel-control-next{
    background-color: none;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    
}
/*--- slider custom **/
.container-slider-courses{
    width: 80%;
    margin: auto;
}


/*********slider vanilla alumnos************/
.slider-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  .slider img {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    width: 60px; /* Tamaño de las imágenes de perfil */
    filter: grayscale(100%); /* Imágenes en escala de grises */
    transition: all 0.3s ease;
  }
  .slider img.active {
    border: 2px solid #08FFDE; /* Borde celeste alrededor de la imagen activa */
    filter: grayscale(0%); /* Imagen en color */
  }
  .person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .person-info img {
    max-width: 100px;
    margin-top: 10px;
  }
  @media only screen and (max-width: 600px) {
    .person-info {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    }
  }

  /**slider***/
  .cards-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
  }
  .cards-slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  .card {
    flex: 0 0 auto;
    width: calc(100% / 3); /* Muestra 3 cards en vista grande */
  }
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .slider-btn img {
    width: 20px;
    height: auto;
  }
  .prev-btn {
    left: 10px;
  }
  .next-btn {
    right: 10px;
  }
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%; /* Muestra 1 card en vista responsive */
    }
    .slider-btn {
      display: none; /* Oculta botones en vista responsive */
    }
  }