@import url('../assets/fonts/fonts.css');


.section-about > h3:nth-of-type(1) {

    /*font*/font-family: 'FractulAltLight' !important;

    color: #000000;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 5px 5px;
}


.section-about > h3:nth-of-type(2){
     /*font*/font-family: 'FractulAltLight' !important;
    color: #ffffff;
    background-color: #000000;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.section-about .contenedor-btns button {
    padding: 10px 20px;
    transition: background-color 0.3s  linear, color 0.3s linear;
    cursor: pointer;
    width: 313px;
    
}

.section-about .contenedor-btns button:nth-of-type(1) {
    border: #059C87 2px solid;
    background-color: #059C87;
    color: #ffffff;
    margin-right: 35px;
}

.section-about .contenedor-btns button:nth-of-type(1):hover {
    background-color: #ffffff;
    color: #059C87;
}

.section-about .contenedor-btns button:nth-of-type(1):active {
    background-color: #ffffff;
    color: #059C87;
}

.section-about .contenedor-btns button:nth-of-type(2) {
    border: #000000 2px solid;
    background-color: #ffffff;
    color: #000000;
}
.section-about .contenedor-btns button:nth-of-type(2):hover {
    background-color: #000000;
    color: #ffffff;
}

.section-about .contenedor-btns button:nth-of-type(2):active {
    background-color: #000000;
    color: #ffffff;
}

@media only screen and (max-width: 550px) {

  

    .contenedor-btns{
        display: flex;
        flex-direction: column;

    }

    .section-about .contenedor-btns button:nth-of-type(1) {
        border: #059C87 2px solid;
        background-color: #059C87;
        color: #ffffff;
        margin:auto;
    }

    .section-about .contenedor-btns button:nth-of-type(2) {
        border: #000000 2px solid;
        background-color: #ffffff;
        color: #000000;
        margin:30px auto;
    }
    .section-about .contenedor-btns button {
        padding: 10px 20px;
        transition: background-color 0.3s  linear, color 0.3s linear;
        cursor: pointer;
        width: 100%;
        
    }
    

}
