
@import url('../assets/fonts/fonts.css');

.section-curses {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 150px;
}

.slide {
    cursor: pointer; 
    filter: grayscale(100%); /* Aplica escala de grises */
    transition: filter 0.3s; /* Agrega transición al filtro */
    margin: 0px 10px;
    max-width: 350px;
}

.slide:hover {
    cursor: pointer; 
    filter: grayscale(0%); /* Elimina la escala de grises en el hover */
    cursor: pointer;
}

.slider-cursos .hide-hover,
.slider-cursos .show-hover {
    /* margin: auto; */
     
    transition: all 0.4s ease;
}


.text-white-descrip{
    color: white;
    margin-top: 10px;
    margin-bottom: 100px;
}


@media screen and (min-width:768px) {

    .slider-cursos .hide-hover,
    .slider-cursos .show-hover {
        /* max-width: 320px; */
        margin: auto; 
    }
}



.slick-prev::before,
.slick-next::before {
    content: none;
}

.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    
}

.slider-cursos .slick-next {
    background-image: url('/assets/img/slider/arrow-next.png');
}

.slider-cursos .slick-prev {
    background-image: url('/assets/img/slider/arrow-prev.png');
}

.slider-cursos .slick-prev:hover,
.slider-cursos .slick-prev:focus {
    background-image: url('/assets/img/slider/arrow-prev-white.png');
  
}

.slider-cursos .slick-next:hover,
.slider-cursos .slick-next:focus {
    background-image: url('/assets/img/slider/arrow-next-white.png');
    
}

.slick-dots {
    bottom: -65px;
}

.slick-dots li button:before {
    content: none;
}

.slider-cursos .slick-dots li.slick-active button {
    background-color: #08FFDE;
}

.slider-cursos .slick-dots li button {
    border-radius: 50%;
    border: 2px solid #08FFDE;
}

.section-curses .contenedor-inscribete button {
    padding: 10px 20px;
    border: #08FFDE 2px solid;
    background-color: #000000;
    color: #08FFDE;
    cursor: pointer;
    width: 313px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.section-curses .contenedor-inscribete button:hover {
    background-color: #08FFDE;
    color: #000000;
}

.section-curses .contenedor-inscribete button:active {
    background-color: #08FFDE;
    color: #000000;
}

.section-curses .contenedor-inscribete {
    padding-top: 60px;
}

.section-curses .container>h3:nth-of-type(2) {

    /*font*/font-family: 'FractulAltLight' !important;
    background-color: #FFFFFF;
    color: #000000;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.section-curses .container>h3:nth-of-type(1) {

    /*font*/font-family: 'FractulAltLight' !important;

    color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 5px 5px;
}

.slider-cursos .show-hover {
    display: none;
   
}