@import url('../assets/fonts/fonts.css');

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 80px 40px;
    background-color: #ccc;
}

.section-form {
    background-color: #ccc;
    padding-top: 100px;
    padding-bottom: 40px;
}
.section-form > h3{
    text-align: center;
    font-family: 'FractulAltLight' !important;
}
.section-form > h3:nth-of-type(2){
    color: #ffffff;
    background-color: #000000;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    max-width: 385px;
    padding: 10px 25px;
}

#contactForm {
    /* flex-grow: 1; */
    width: 100%;
}

.form-container {
    width: 100%;
    /* max-width: 600px; */
    /* padding: 20px; */
    /* border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    font-family: 'FractulAltLight' !important;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.mail-to{
    color:  #000000;

}


.mail-to:hover{
    text-decoration: none;
    color: #059C87;
    transition: all 0.3s ease;


}
.icon-contact{
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    /*transition: border-color 0.3s ease;  Agrega la transición */
}

textarea {
    height: 100px;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Agrega la transición */
    box-sizing: border-box;
   margin-top: 10px;
    font-weight: bold;
    border:#000000 2px solid;
}

input[type="submit"]:hover {
    border-color: none;
    color: black;
    background-color: #08FFDE;
    border:#000000 2px solid;

}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #08FFDE;
    /* Cambia el color del borde al seleccionar */
}

.section-form #contactForm .contenedor input:nth-of-type(1){
    width: 50%;
    
}
.section-form #contactForm .contenedor input:nth-of-type(2){
    width: 50%;
    margin-left: 15px;
}
.section-form #contactForm .contenedor{
    width: 100%;
}

@media only screen and (max-width: 1200px) and (min-width: 600px)  {
    .container-form {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        margin: 0 auto;
        padding: 80px 5px;
        background-color: #ccc;
    }
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'FractulAltLight' !important;
    }
    .flex-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    
}

@media only screen and (max-width: 600px) {
    .form-container {
        /* width: 100%; */
        border: none;
        flex-direction: column;
        padding-top: 10px;
    }
   

    .flex-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    input[type="submit"] {

        width: 100%;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-form #contactForm .contenedor input:nth-of-type(1){
        width: 100%;
       
    }
    .section-form #contactForm .contenedor input:nth-of-type(2){
        width: 100%;
        margin-left: 0px;
    }
    .section-form #contactForm .contenedor{
        width: 100%;
    }
    
}
