
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.body-instructor{
    background-color: #505050;
    padding-bottom: 150px ;
}
  .container{
    background-color: #505050;
    
  }
  /*********************/
  /** section teachers**/
  /*********************/

.instructor_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
}

.teacher_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:80px 20px;
    width: 100%;
    transition: 0.3s;
}

.image_card{
width: 50%;
text-align: center;
    justify-content: center;
}

.image_card img{
    width: 70%;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.descrip_card{
    margin: auto 20px;
    
}
.descrip_card h2{
    color:#08FFDE;
    padding: 20px 0px;
}

.descrip_card p,
.descrip_card ul{
    color: white;
}

.descrip_card ul{
    margin : 20px 0 30px 10px;

}


/**/
.container-buttons-teachers{
display: flex;
justify-content: center;
text-align: center;
}

.boton-proyectos{
    padding: 10px 20px;
    background-color:#059C87 ;
    color: white;
    cursor: pointer;
    width: 180px;
  
    margin: 10px 10px;
    border:#059C87 2px solid;
}


.boton-proyectos:hover { 

    background-color: white;
    color: #09ad98 ;
    transition: color 0.4s ease;
    border: white 2px solid;

}

.boton-linkedin{
    padding: 10px 20px;
    border: #ffffff 2px solid;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 180px;
  
    margin: 10px auto;
}

.boton-linkedin:hover {

    border: #000000 2px solid;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: color 0.4s ease;
}

@media only screen and (max-width: 1200px) and (min-width: 750px){
    
    .instructor_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        
    }
    .teacher_card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        width: 100%;
        transition: 0.3s;
    }
    .image_card{
        width:50%;
align-items: center;
    }     

}



@media only screen and (max-width: 750px) {
    .image_card{
        width:100%;

    }     
    .image_card img{
        width:60%;
        margin: 20px;
        margin-bottom: 40px;
    }
    .teacher_card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
        width: 90%;
        transition: 0.3s;
    }

    .instructor_container{
      
        margin-top: 0px;
        
    }
    .body-instructor{
        
        padding-top: 100px ;
    }
    /**/



.container-buttons-teachers{
    display: flex;
    flex-direction: column;
    }
    
    .boton-proyectos,
    .boton-linkedin{
        width: 100%;
        margin: 10px auto;
        padding: 20px 5px;
    }

   

    .descrip_card h2{
        color:#08FFDE;
        padding: 20px 0px;
        font-size: 30px;
    }
    

    .descrip_card p,
.descrip_card ul{
    color: white;
    font-size: 14px;
}

.boton-proyectos,
.boton-proyectos:hover,
.boton-linkedin,
.boton-linkedin:hover{
    font-size: 14px;
    padding: 5px 10px;
}
        
  }