.slider-instructor img {
    margin: auto;
    max-width: 320px;
}

.section-instructor {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width:768px) {
    .slider-instructor img {
        max-width: 200px;
    }
}

.slider-instructor .slick-dots li.slick-active button {
    background-color: #000000;
}

.slider-instructor .slick-dots li button {
    border-radius: 50%;
    border: 2px solid #000000;
}