*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.section-slider{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.slide-content{
    margin: 70px 40px;

}


.card{
    background-color: #efefef;
    width: 320px;
    /* border-radius: 25px; */
    border-style: none;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    row-gap: 10px;
}


.card-image{
    position: relative;
    height: 280px;
    width: 250px;
    /* background: #fff; */
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width:100%;
    object-fit:fill
}

.name{
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    text-align: center;
}

.button-teacher{
    width: 50%;
    padding: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega la transición */
    box-sizing: border-box;
    border-color: none;
}

.button-teacher:hover{
    border-color: none;
    color: black;
    background-color:#08FFDE;
}